.container {
  background: rgb(204,219,137);
  background: linear-gradient(90deg, rgba(204,219,137,0.756827731092437) 1%, rgba(76,205,138,0.5383403361344538) 31%, rgba(0,237,255,0.3982843137254902) 91%);                                        
}

.content {
  max-width: 1280px;
  min-height: 740px;
  margin: 0 auto;
  padding-top: 72px;
  padding-left: 68px;
  background-image: url(./hero-image.svg);
  background-repeat: no-repeat;
  background-position: 100% 100%;
}

.title {
  font-size: 50px;
  margin-bottom: 32px;
  text-align: center; 
}

.tagLine {
  font-size: 32px;
  margin-bottom: 32px;
}

.getStartedButton {
  display: inline-block;
  padding: 20px 24px;
  font-size: 24px;
  color: #fff;
  border-radius: 8px;
  background: linear-gradient(97.73deg, #76e1f9 7.7%, #1949e7 97.25%);
  transition: transform 0.25s ease-in-out;

  &:hover {
    text-decoration: none;
    color: #fff;
    transform: scale(1.1);
  }

  &:active {
    transform: none;
  }
}

@media (max-width: 1440px) {
  .content {
    // Following original design ratio
    background-size: 91.4%;
  }
}

@media (max-width: 1280px) {
  .container {
    margin-left: 40px;
    margin-right: 40px;
  }
}

@media (max-width: 425px) {
  .container {
    margin-left: 0;
    margin-right: 0;
  }

  .content {
    padding: 80px 20px;
    text-align: center;
    min-height: 660px;
    background-size: 100%;
  }
}
